<%- include('header') %>

<div id="create">
<%- include('components/nav') %>
<%- include('components/notification') %>

 <div class="container">
  <div class="row create">
  <div class="col-md-2 ">
	  <div class="avatar1">
		<a class="avatar2"
		   href="/posts?author=<%= user._id %>"
		   data-title="<%= user.name %> | <%= ({m: '男', f: '女', x: '保密'})[user.gender] %>">
		  <img class="avatar" src="/img/<%= user.avatar %>">
		</a>
	  </div>
	 </div>
  <div class="col-md-8">
    <form class="form-horizontal" method="post" action="/posts/<%= post._id %>/edit">
      <div class="form-group">
        <label>标题</label>
        <input type="text" name="title" maxlength="20" value="<%= post.title %>">
		<p class="help-text">（最大输入20个字）</p>
      </div>
      <div class="form-group">
		<div class="panel panel-info">
		<div class="panel-heading"><label>内容(支持markdown编辑)</label></div>
			<div class="panel-body">
        <textarea name="content" rows="15"><%= post.content %></textarea>
			</div>
		</div>
      </div>
      <button type="submit" class="btn btn-info" value="发布">确认修改</button>
    </div>
  </form>
</div>
</div>
</div>
<%- include('footer') %>